---
layout: default
title: blog
redirect_from: ["/blog.html"]
---

{% include nav.html %}
<div class="container">
	<h1>All posts</h1>
	<br />
	{% for post in site.posts %}
	<div class="card mb-3">
		<div class="card-body">
			<h3 class="card-title">{{ post.title }}</h3>
			<h5 class="card-subtitle mb-2 text-muted">{{ post.date | date_to_string }} - <a href="{{site.baseurl}}/blog/categories#{{post.categories}}">{{post.categories}}</a></h5>
			<p class="card-text text-justify">
				{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
			</p>
			<a href="{{ site.baseurl }}{{ post.url }}" class="card-link">Read more...</a>
		</div>

	</div>
	{% endfor %}

</div>
