---
layout: default
---
<header class="container">
  <!--<img src="{{ site.baseurl }}/img/avi.png" width="100px">-->
  <ul class="navigation" style="display:flex;">
    <li class="text-muted"><a href="{{site.baseurl}}/">Home</a></li>
    <li class="text-muted"><a href="{{site.baseurl}}/blog">Blog</a></li>
  </ul>
</header>
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead text-muted">{{ page.date | date_to_string}} - {{ page.categories }}</p>
    <div style="text-align:justify;">
      {{ content }}
    </div>
  </div>
